
  body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
  }
  .cont{
    position:relative;
    height: 100%;
    /* border: 2px solid black; */
  }
  .container1{
    text-align: center;
    width: 30%;
  }
  .container2{
    width: 30%;
    bottom: 100%;
    left: 33%;
  }
  .container3{
    width: 30%;
    bottom: 1450px;
    left: 66%;
  }

  .counter{
    width:100px;
    height:100px;
    border:3px solid black;
    margin:20px auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    padding:5px;
    border-radius: 5%;
    background-color: white;
  }
  .lights{
    width:100px;
    height:100px;
    border:3px solid black;
    margin:5px auto;
    border-radius:100%;
    background-color: white
  }
  .red{
    background-color:red;
  }
  .yellow{
    background-color:yellow;
  }
  .green{
    background-color:green;
  }
  .lightsContainer{
    border: 2px solid black;
    width: 180px;
    margin:0 auto 0 auto;
    padding: 10px 0;
    border-radius: 10%;
    /* background-color: white; */
  }
  .image1{
    width: 500px;
    height: 800px;
    object-fit: cover;
    margin: 0;
  }
  .image2{
    width: 600px;
    height: 800px;
    object-fit: cover;
  }
  .mainHead {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-size: 50px;
    font-family: Montserrat;
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
  }



@media only screen and (max-width: 1500px) {
  .container1,.container3{
    visibility: collapse;
  }
 .lightsContainer{
  position: absolute;
  right: 10px;
  width:100px;
  }
.lights{
  margin-left: 11px;
  border: 5px solid white;
  width:50px;
  height: 50px;
}
.container2{
  height: 100px;
}
.mainHead{
  font-size: 30px;
}
.counter{
  height: 50px;
  width: 50px;
  font-size: 2rem;
}
}
